section {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  height: 100%;
  .mainOm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
    height: 600px;
    div {
      width: 500px;
      margin-bottom: 120px;
      h2 {
        color: #d97852;
        margin-bottom: 20px;
        font-size: 30px;
      }
    }
    img {
      width: 335px;
      height: 335px;
    }
  }
}
@media only screen and (max-width: 768px) {
  section {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    height: 90vh;
    .mainOm {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      div {
        width: 600px;
        margin-bottom: 0px;
        display: flex;
        text-align: center;
        margin-top: 150px;
      }
      img {
        display: none;
      }
    }
  }
}
